/* bold */
@font-face {
  font-family: "Nohemi-Bold";
  src: url("../fonts/nohemi/Nohemi-Bold.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* medium */
@font-face {
  font-family: "Nohemi-Medium";
  src: url("../fonts/nohemi/Nohemi-Medium.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* reular */
@font-face {
  font-family: "Nohemi-Regular";
  src: url("../fonts/nohemi/Nohemi-Regular.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* semi-bold */
@font-face {
  font-family: "Nohemi-SemiBold";
  src: url("../fonts/nohemi/Nohemi-SemiBold.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* light */
@font-face {
  font-family: "Nohemi-Light";
  src: url("../fonts/nohemi/Nohemi-Light.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nohemi-SemiBold";
}

:root {
    --bgColor : #1C1C1D;
}
