
/* bold */
@font-face {
  font-family: "Nohemi-Bold";
  src: url("../fonts/nohemi/Nohemi-Bold.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* medium */
@font-face {
  font-family: "Nohemi-Medium";
  src: url("../fonts/nohemi/Nohemi-Medium.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* reular */
@font-face {
  font-family: "Nohemi-Regular";
  src: url("../fonts/nohemi/Nohemi-Regular.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* semi-bold */
@font-face {
  font-family: "Nohemi-SemiBold";
  src: url("../fonts/nohemi/Nohemi-SemiBold.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* light */
@font-face {
  font-family: "Nohemi-Light";
  src: url("../fonts/nohemi/Nohemi-Light.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Nohemi-SemiBold"; */
}

:root {
  --bgColor: #1c1c1d;
}

.dark-theme-page{
  background: var(--bgColor) !important;
}

.light-theme-page{
  background: white !important;
}

.dn-class{
  display: none;
}

.db-class{
  display: block;
}

body {
  background: var(--bgColor) !important;
}

.top-header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid; */
  font-family: "Nohemi-Medium";
}

.lang-sh .dropdown > * {
  font-size: 12px;
}

.lang-sh .dropdown button {
  background: transparent;
  border: none;
  padding: 0;
  /* background: red; */
}

.lang-sh .dropdown ul {
  background: transparent;
  border: none;
  /* background: red; */
}

.top-header .logo a img {
  width: 32px;
  height: 20px;
}

.lang-mode{
  display: flex;
  gap: 50px;
}


.lang-sh .dropdown-menu .dropdown-item {
  /* border: 2px solid; */
  width: fit-content;
  padding: 0;
  transition: all 0.5s;
  margin-bottom: 4px;
  color: gray;
}

.lang-sh .dropdown-menu {
  min-width: fit-content;
  width: fit-content !important;
}

.lang-sh .dropdown-menu .dropdown-item:hover {
  background: transparent !important;
  color: white;
}

.lang-sh button{
    color: white !important;
}
.lang-sh button:hover{
    color: white;
}

.dark-light-mode img{
  /* border: 2px solid; */
  width: 24px;
  height: 24px;
}

img.dark-page{
  height: 18px;
}