/* bold */
@font-face {
  font-family: "Nohemi-Bold";
  src: url("../fonts/nohemi/Nohemi-Bold.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* medium */
@font-face {
  font-family: "Nohemi-Medium";
  src: url("../fonts/nohemi/Nohemi-Medium.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* reular */
@font-face {
  font-family: "Nohemi-Regular";
  src: url("../fonts/nohemi/Nohemi-Regular.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* semi-bold */
@font-face {
  font-family: "Nohemi-SemiBold";
  src: url("../fonts/nohemi/Nohemi-SemiBold.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* light */
@font-face {
  font-family: "Nohemi-Light";
  src: url("../fonts/nohemi/Nohemi-Light.woff2") format("woff2"),
    url("../fonts/nohemi/Nohemi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Nohemi-SemiBold"; */
}

:root {
  --bgColor: #1c1c1d;
  --borderRadius: 8px;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.gray-text-custom{
  color: rgb(62, 62, 62) !important;
}

.invert-color{
  filter:invert(100%);
}

.white-bg{
  background: white !important;
}

a.active-main-nav {
  background: white !important;
  color: var(--bgColor) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.89);
}

a.active-main-nav:hover {
  background: white !important;
  color: var(--bgColor) !important;
}

.dark-theme-page {
  background: var(--bgColor) !important;
}

.light-theme-page {
  background: white !important;
}

.dn-class {
  display: none;
}

.db-class {
  display: block;
}

body {
  background: var(--bgColor) !important;
  position: relative;
}

.sticky-header {
  position: sticky !important;
  top: 0;
  display: block;
  background: var(--bgColor);
  z-index: 10;
}

.top-header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  font-family: "Nohemi-Medium";
  /* background: var(--bgColor); */
}

.lang-sh .dropdown > * {
  font-size: 12px;
}

.lang-sh .dropdown button {
  background: transparent;
  border: none;
  padding: 0;
  /* background: red; */
}

.lang-sh .dropdown ul {
  background: transparent;
  border: none;
  /* background: red; */
}

.top-header .logo a img {
  width: 32px;
  height: 20px;
}

.lang-mode {
  display: flex;
  gap: 50px;
}

.color-gray-imp {
  color: gray !important;
}

.lang-sh .dropdown-menu .dropdown-item {
  /* border: 2px solid; */
  width: fit-content;
  padding: 0;
  transition: all 0.5s;
  margin-bottom: 4px;
  color: gray;
}

.lang-sh .dropdown-menu {
  min-width: fit-content;
  width: fit-content !important;
}

.lang-sh .dropdown-menu .dropdown-item:hover {
  background: transparent !important;
  color: white;
}

.lang-sh button {
  color: white !important;
}
.lang-sh button:hover {
  color: white;
}

.dark-light-mode img {
  /* border: 2px solid; */
  width: 24px;
  height: 24px;
}

img.dark-page {
  height: 18px;
}

.click-shy {
  position: relative;
}

.click-shy h6 a {
  text-decoration: none;
}

.click-shy h6 a {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.click-shy h6 a span {
  color: gray;
}

.main-navigation {
  background: rgb(72, 72, 78);
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 8px;
  border-radius: var(--borderRadius);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.25);
  z-index: 11;
}

.main-navigation ul {
  display: flex;
  margin: auto 0;
  padding-left: 0px;
  gap: 10px;
}

.main-navigation li {
  /* border: 2px solid; */
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-navigation li a {
  padding: 9.5px 15px;
  /* border: 2px solid; */
  font-size: 13px;
  border-radius: 6px;
  color: rgb(211, 211, 211);
  line-height: 18px;
  letter-spacing: 0.7px;
  font-weight: 400;
  font-family: "Nohemi-Medium";
  transition: background 500ms, color 50ms;
}

.main-navigation li a:hover {
  background: #626268;
  color: white;
}
.main-navigation.white-bg li a:hover {
  background: #626268 !important;
  color: rgb(255, 255, 255) !important;
}

.main-navigation.white-bg li a.active-main-nav{
  background: #303032 !important;
  color: white !important;
}

.main-navigation.white-bg li a.active-main-nav:hover {
  background: #303032 !important;
  color: white !important;
}

.home-page-carousel {
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
}

.theme-ded {
  position: absolute;
  background: rgba(42, 42, 42, 0.823);
  border-radius: 40px;
  top: 0%;
  left: 0;
  z-index: 1;
  height: 100%;
}

.theme-ded-light{
  background: rgba(255, 255, 255, 0.515) !important;
}

.roww {
  height: 800px;
  width: 100%;
  overflow: hidden;
  border-radius: 40px;
  /* border: 1px solid rgb(0, 255, 30); */
  position: relative;
}

.home-page-carousel {
  width: 100% !important;
}

.home-page-carousel .home-video-carousel {
  /* border: 1px solid rgb(255, 255, 255); */
  position: relative;
  width: 100% !important;
}

.home-carousel-absolute-text-box {
  position: absolute;
  inset: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
  font-family: "Nohemi-Medium";
  /* border: 2px solid red; */
  gap: 0;
}

.home-carousel-absolute-text-box p {
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 3px;
  margin-bottom: 28px;
  font-weight: 400;
  color: white;
}

.home-carousel-absolute-text-box h2 {
  font-size: 72px;
  line-height: 72px;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 500;
}

.home-carousel-absolute-text-box a {
  font-size: 14px;
  letter-spacing: 1.5px;
  padding: 20px 40px;
  font-weight: 400;
  color: white;
  border: 1px solid white;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
  gap: 15px;
}

.home-carousel-absolute-text-box a:hover {
  background: white;
  color: var(--bgColor);
}

.slider-below-show {
  /* position: relative; */
  position: absolute;
  bottom: -28%;
  /* background: var(--bgColor); */
  background: url("assets/images/bg-slider.png");
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 14;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px !important;
  height: 67px;
  overflow: visible;
}

.slider-below-show-bg img {
  position: relative;
  top: 234%;
}

.slider-below-show .item {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-below-show .item p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3px;
  /* border: 2px solid; */
  font-family: "Nohemi-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 67px;
  margin-bottom: 0;
  transition: all 1s;
}

.up-going-animated {
  position: absolute;
  background: #df7e36;
  bottom: 5px;
  z-index: 10;
  height: 4px;
  width: 15px;
  border-radius: 10px;
  left: 49%;
  animation: updown-bounce 2s infinite;
}

.slider-below-show .fadeOut {
  animation: fadeOutCustom 1s ease-in-out;
}

.slider-below-show .fadeIn {
  animation: fadeInCustom 1s ease-in-out;
}

/* animations */

@keyframes updown-bounce {
  0%,
  100% {
    transform: translateY(-45px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes fadeOutCustom {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInCustom {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media queries */
@media (max-width: 1400px) {
}

@media (max-width: 1201px) {
  .slider-below-show {
    bottom: -24.5%;
    /* border: 2px solid white; */
  }
}

@media (max-width: 1200px) {
  .roww {
    height: 700px !important;
  }
  .slider-below-show-bg img {
    top: 160%;
  }
}

@media (max-width: 1000px) {
  .roww {
    height: 600px !important;
  }
  .home-carousel-absolute-text-box h2 {
    font-size: 54px;
    line-height: 55px;
  }
  .slider-below-show-bg img {
    top: 120%;
  }
}

@media (max-width: 768px) {
  .sticky-header .click-shy {
    display: none;
  }
  .top-header {
    flex-direction: row-reverse;
  }
  li.main-nav-icons {
    display: none;
  }
  .home-carousel-absolute-text-box h2 {
    font-size: 45px;
    line-height: 47px;
  }
  .slider-below-show {
    top: 26%;
  }
  .slider-below-show-bg img {
    top: 140%;
  }
}

@media (max-width: 500px) {
  .main-navigation li a:not(.active-main-nav) {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
  .home-carousel-absolute-text-box h2 {
    font-size: 40px;
    line-height: 41px;
  }
  .slider-below-show {
    top: 27.5%;
  }
  .slider-below-show-bg img {
    top: 155%;
  }
}

@media (max-width: 465px) {
  .slider-below-show-bg img {
    top: 200%;
  }
}

@media (max-width: 465px) {
  .home-carousel-absolute-text-box p {
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  .home-carousel-absolute-text-box h2 {
    padding: 0px 15px;
    font-size: 35px;
    line-height: 37px;
  }
  .home-carousel-absolute-text-box h2 br {
    display: none;
  }
  .home-carousel-absolute-text-box a {
    font-size: 10px !important;
    padding: 20px;
  }
  .slider-below-show {
    top: 30.2%;
  }
}

@media (max-width: 459px) {
  .slider-below-show-bg img {
    top: 180%;
  }
}
